@model IEnumerable<AppDesafioCustomIT.Models.Telefone>

@{
    ViewData["Title"] = "Index";
}

<table class="table" style="width:40%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumTelefone)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumTelefone)
                </td>
            </tr>
        }
    </tbody>
</table>