@model AppDesafioCustomIT.Models.ViewModels.PessoaViewModel

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Pessoa.Id" />
            <div class="form-group">
                <label asp-for="Pessoa.Nome" class="control-label"></label>
                <input asp-for="Pessoa.Nome" class="form-control" />
                <span asp-validation-for="Pessoa.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.DataNasc" class="control-label"></label>
                <input asp-for="Pessoa.DataNasc" class="form-control" />
                <span asp-validation-for="Pessoa.DataNasc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.CPF" class="control-label"></label>
                <input id="txtCPF" asp-for="Pessoa.CPF" class="form-control" />
                <span asp-validation-for="Pessoa.CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Endereco" class="control-label"></label>
                <input asp-for="Pessoa.Endereco" class="form-control" />
                <span asp-validation-for="Pessoa.Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Bairro" class="control-label"></label>
                <input asp-for="Pessoa.Bairro" class="form-control" />
                <span asp-validation-for="Pessoa.Bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Cidade" class="control-label"></label>
                <input asp-for="Pessoa.Cidade" class="form-control" />
                <span asp-validation-for="Pessoa.Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.UF" class="control-label"></label>
                <input asp-for="Pessoa.UF" maxlength="2" class="form-control" />
                <span asp-validation-for="Pessoa.UF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Email" class="control-label"></label>
                <input asp-for="Pessoa.Email" class="form-control" />
                <span asp-validation-for="Pessoa.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone.NumTelefone" class="control-label"></label>
                <input id="txtTelefone" asp-for="Telefone.NumTelefone" class="form-control" />
                <span asp-validation-for="Telefone.NumTelefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para listagem</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('#txtCPF').mask('000.000.000-00', { placeholder: "___.___.___-__" }, { reverse: true });
            $('#txtTelefone').focusout(function () {
                var telefone, element;
                element = $(this);
                element.unmask();
                telefone = element.val().replace(/\D/g, '');
                if (telefone.length > 10) {
                    element.mask("(00) 00000-0000");
                } else {
                    element.mask("(00) 0000-00009");
                }
            }).trigger('focusout');
        });
    </script>
}
