@model AppDesafioCustomIT.Models.Telefone

@{
    ViewData["Title"] = "Create";
}

<h1>Novo Telefone</h1>

<h4>Telefone</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumTelefone" class="control-label"></label>
                <input id="txtTelefone" asp-for="NumTelefone" class="form-control" />
                <span asp-validation-for="NumTelefone" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="PessoaId" class="control-label"></label>
                <select asp-for="PessoaId" class="form-control" asp-items="ViewBag.PessoaId"></select>
                <span asp-validation-for="PessoaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para listagem</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('#txtTelefone').focusout(function () {
                var telefone, element;
                element = $(this);
                element.unmask();
                telefone = element.val().replace(/\D/g, '');
                if (telefone.length > 10) {
                    element.mask("(00) 00000-0000");
                } else {
                    element.mask("(00) 0000-00009");
                }
            }).trigger('focusout');
        });
    </script>
}